.bg-img1 {
  background-color: #000;
  width: 100%;
  height: 50%;
}
.bg-img2 {
  background-color: #000;
  width: 100%;
  height: 50%;
}
.bg-img3 {
  background-color: #000;
  width: 100%;
  height: 50%;
}
.content {
  color: white;
  text-align: left;
}
